#banner {
    background-size: 100%;
    height: calc(100vh - 80px);
}

#banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

#banner-text-img {
    display: flex;
    flex-wrap: wrap;
}

#banner-text {
    display: inline;
    width: 60%;
}

#banner-name-sub {
    position: relative;
    display: flex;
}

#my-name {
    font-size: 80px;
}

#banner-subtitle {
    position: absolute;
    bottom: 40px;
}

#banner-img {
    margin: auto auto;
    max-width: 300px;
    box-shadow: 0px 3px 6px #000, 0px 3px 6px #000;
    border-radius: 50%;
    align-content: center;
}

#banner-caption {
    font-size: 8px;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

@media only screen and (max-width: 1000px) {
    #banner-text-img {
        margin: auto;
        width: 90%;
    }

    #banner-text {
        width: 100%;
    }

    #banner-name-sub {
        margin-top: 20px;
        height: 200px !important;
    }

    #my-name {
        display: block;
    }

    #banner-subtitle {
        top: 130px;
    }

    #banner-img {
        box-shadow: 0px 3px 6px #000, 0px 3px 6px #000;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 800px) {
    #my-name {
        font-size: 3rem;
    }

    #banner-img {
        width: 200px;
        margin-top: 20px;
    }
}