.navbar-brand {
    padding-right: 2rem;
    font-weight: bold !important;
}

.me-auto {
    display: flex;
    flex-direction: row;
}

.left {
    margin-right: 3rem
}

.link {
    max-width: 150px;
    padding: 10px 20px;
    border-radius: 50px;
    background: radial-gradient(rgb(0, 255, 247), rgb(0, 238, 255));
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    color: black;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
}

.link:hover {
    transform: scale(1.05);
  }

#navbar {
    background-color: rgb(0, 255, 247);
    margin-bottom: 20px;
    min-height: 70px;
}