#navbar {
    background-color: rgb(80, 194, 220);
    min-height: 80px;
}
.navbar-brand {
    padding-right: 2rem;
    font-weight: bold !important;
}

.me-auto {
    display: flex;
    flex-direction: row;
}

.left {
    margin-right: 3rem
}

.link {
    max-width: 118px;
    padding: 10px 20px;
    border-radius: 50px;
    background: radial-gradient(rgb(140, 221, 242), rgb(78, 191, 231));
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    color: black;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
}

.link:hover {
    transform: scale(1.05);
  }
