.highcard {
    width: 400px!important;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card-img-top {
    height: 200px;
    overflow: hidden;
    background: #6CADDC;
}

.card-body {
    display:flex;
    flex-direction: column;
    justify-content: space-between
}

.project-info {
    padding-top: 10px;
}

.highlighted-buttons {
    margin: 20px 0px 5px 0px;
}